.topic-button {
  background-color: lightseagreen;
  color: white;
}

.container-div {

    float: left;
    text-align:center;
}

img{
    padding-left: 0px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 0px;
}
.container{
    margin-top: 20px;
}